{% extends 'base.html' %} {% block content %}

<h1>Cupcakes</h1>

<h2>Add Cupcake</h2>
<form>
  <label for="flavor">Flavor:</label>
  <input type="text" id="flavor" />
  <label for="size">Size:</label>
  <select id="size">
    <option value="small">Small</option>
    <option value="large">Large</option>
  </select>
  <label for="rating">Rating:</label>
  <input type="number" id="rating" />
  <label for="image">Image URL:</label>
  <input type="text" id="image" />
  <button type="submit" id="submit">Submit</button>
</form>

<h2>Cupcakes:</h2>
<ul id="c-list">
  
</ul>

<!-- Library JS & our JS -->
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

<script src="static/site.js"></script>

{% endblock %}
