#game div {
  /*border: 4px solid #FF70A6;*/
  width: 15%;
  margin: 10px;
  aspect-ratio: 2.5 / 3.5;
  display: inline-block;
}

html {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: medium;
}

div.hidden {
  background-color: #76818e !important;
}

div.red {
  background-color: #ac3931;
}

div.blue {
  background-color: #6290c3;
}

div.green {
  background-color: #69995d;
}

div.orange {
  background-color: #fc9e4f;
}

div.purple {
  background-color: #935fa7;
}

a:link {
  color: #ff70a6;
}

a:visited {
  color: #ff70a6;
}

a:hover {
  color: #76818e;
}

a:active {
  color: #76818e;
}
