{% extends 'base.html' %} {% block content %}

<img
  src="{{ user.image_url }}"
  height="64px"
  width="64px"
  style="float: left"
/>

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<form action="/users/{{ user.id }}/edit" class="inline">
  <button type="submit">Edit</button>
</form>
<form action="/users/{{ user.id }}/delete" class="inline" method="post">
  <button type="submit" class="danger">Delete</button>
</form>

<!-- Library JS & our JS -->
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

<script src="static/site.js"></script>

{% endblock %}
