{% extends 'base.html' %} {% block content %}

<div style="float: left">
  <img src="{{ user.image_url }}" height="64px" width="64px" />
</div>

<div style="margin-left: 80px">
  <h1>{{ user.first_name }} {{ user.last_name }}</h1>

  <form action="/users/{{ user.id }}/edit" class="inline">
    <button type="submit">Edit</button>
  </form>
  <form action="/users/{{ user.id }}/delete" class="inline" method="post">
    <button type="submit" class="danger">Delete</button>
  </form>

  <h2>Posts</h2>

  <form action="/users/{{ user.id }}/posts/new" class="inline">
    <button type="submit">New Post</button>
  </form>

  <ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<!-- Library JS & our JS -->
<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>

<script src="static/site.js"></script>

{% endblock %}
