html {
  max-width: 800px;
  margin: auto;
}

body {
  background-color: #111318;
  color: #DDDDDD;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: medium;
  margin: 0;
}

a:link {
  color: #F47D7B;
}

a:visited {
  color: #F47D7B;
}

a:hover {
  color: #86A3C1;
}

a:active {
  color: #86A3C1;
}

input {
  background-color: #111318;
  border: 1px solid  #F47D7B;
  padding: 2px;
  color: #DDDDDD;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: medium;
  width: 400px;
  margin: 2px 0;
  display: block;
}

input:focus{
  outline: none;
  border: 1px solid  #86A3C1;
}

button {
  background-color: #F47D7B;
  text-align: left;
  border: 1px solid  #F47D7B;
  padding: 2px;
  color: #111318;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: medium;
  margin: 5px 0;
}

button:hover {
  color: #F47D7B;
  background-color: #111318;
}

button:active {
  color: #F47D7B;
  background-color: #111318;
}

img {
  width: 100%;
}

footer {
  color: #86A3C1;
}

#meme {
  text-align: center;
  position: relative;
  margin-bottom: 16px;
  /* width: 600px; */
}

.meme-text{
  position: absolute;
  font-family: impact;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#top-text {
  top: 8px;
  width: 100%;
}

#bottom-text {
  bottom: 8px;
  width: 100%;
}