/* game board table */

html {
  background-color: #111318;
  max-width: fit-content;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #dddddd;
}

#board {
  border: solid 2px #dddddd;
  padding: 4px;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 2px #dddddd;
  border-radius: 50%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  /* make into circles */
  border-radius: 50%;
}

/* make pieces yellow/red, depending on player 1/2 piece */
.p1 {
  background-color: #d3b673;
}

.p2 {
  background-color: #b33951;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px #dddddd;
}

#column-top td:hover {
  background-color: #dddddd;
}

h2 {
  margin-bottom: 8px;
}

button {
  background-color: #111318;
  text-align: left;
  border: 2px solid #dddddd;
  padding: 4px;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 5px 0;
}

button:hover {
  color: #111318;
  background-color: #dddddd;
}

button:active {
  color: #111318;
  background-color: #dddddd;
}

input {
  background-color: #111318;
  border: 2px solid #dddddd;
  padding: 4px;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  width: 100px;
  margin: 5px 0;
  display: block;
}

input:focus {
  outline: none;
  color: #111318;
  background-color: #dddddd;
}
