/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: #86a3c1;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
  color: #dddddd;
}

/* Individual stories */

.story-link {
  color: #dddddd;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
}

.story-button {
  margin-left: 2em;
  text-decoration: underline;
  /* color: #F47D7B; */
}

.story-button:hover {
  color: #f47d7b;
}

.story-user {
  display: block;
}
